.main-card{
  background-color: #0a0b0d;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.detail-text-limit{
  font-size: 14px;
  color: #CFD2D8;
  letter-spacing: 0.54px;
  font-weight: 400;
}
.detail-text-file-type{
  font-size: 14px;
  color: #9094A6;
  letter-spacing: 0.54px;
  font-weight: 400;
}

:deep(.el-result__subtitle p){
  color: #eebe77;
}

:deep(.el-result__title p){
  color: white;
}
