.share-container {
  width: 100%;
  height: 100vh;
  background: #0A0B0D;
  
  .share-header {
    background: #1e1f26;
    .share-header-left {
      height: 100%;
      float: left;
      display: flex;
      align-items: center;
    }
    .share-header-right {
      height: 100%;
      float: right;
      display: flex;
      align-items: center;
      .avatar-wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
        .user-avatar {
          width: 42px;
          height: 42px;
          border-radius: 50px;
          overflow: hidden;
          // margin-right: 10px;
        }
      }
    }
  }

  .share-content-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    .share-title {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      font-weight: bold;
      color: white;
      margin-bottom: 10px;
      flex-shrink: 0;
    }
    .share-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      user-select: none;
      margin-bottom: 20px;
      flex-shrink: 0;
      height: 40px;
      .share-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        color: #bec0cd;
        &:deep(.el-image) {
          flex-shrink: 0;
          width: 36px;
          border-radius: 100px;
          height: 36px;
          pointer-events: none;
        }
        .share-nickName {
          margin-left: 12px;
        }
        .share-validity {
          border-left: 1px solid #2a2a47;
          margin-left: 12px;
          padding-left: 12px;
          color: #3468fe;
        }

        .report {
          border-left: 1px solid #2a2a47;
          margin-left: 12px;
          padding-left: 12px;
          color: #3468fe;
          cursor:pointer;
        }
        .report:hover {
          color: red;
        }
      }
    }
    .share-file-info {
      color: #bec0cd;
      font-size: 14px;
      margin-bottom: 20px;
      flex-shrink: 0;
      user-select: none;
      &:deep(.el-breadcrumb) {
        .el-breadcrumb__item {
          cursor: pointer;
        }
      }
    }
    .share-file-scrollbar {
      flex-grow: 1;
      margin-left: -20px;
      margin-right: -20px;
      overflow: hidden;
    }
  }

  .share-verification {
    width: 30%;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .el-image {
      width: 70px;
      height: 70px;
      border-radius: 70px;
      color: #ffffff68;
      background: #ffffff16;
      // opacity: .5;
    }
    .title {
      width: 100%;
      color: white;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      margin: 20px 0;
    }
    .desc {
      font-size: 14px;
      color: white;
      opacity: 0.5;
    }
    .form-item {
      width: 70%;
      border: 3px solid #20222b;
      background: #20222b;
      border-radius: 100px;
      display: flex;
      margin-bottom: 20px;
      input {
        width: 100%;
        font-size: 16px;
        flex-grow: 1;
        outline: none;
        background: none;
        border: none;
        padding: 0 20px;
        color: white;
        box-sizing: border-box;
      }
      .el-button {
        flex-shrink: 0;
        font-size: 18px;
        padding: 20px;
      }
    }
  }
}
