.cloud-header {
  width: 100%;
  height: 59px;
  padding: 0 24px;
  color: #ffffff;
  background-color: #292A30;
  border-bottom: 1px solid #353535;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.cloud-header .r-item {
  margin-right: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cloud-header .r-item .el-input {
  box-shadow: none;
  border: none;
}

.cloud-header .r-item .el-input :deep(.el-input__inner) {
  box-shadow: none;
  border: none;
}

.cloud-header .r-item .sort-check {
  height: 32px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  background-color: #0C0D11;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.cloud-header .r-item .sort-check:hover {
  color: #ffffff;
}

.cloud-header .r-item .sort-check .sort-icon {
  position: relative;
  padding-right: 20px;
  cursor: pointer;
}

.cloud-header .r-item .sort-check .sort-icon::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 10px;
  right: 0;
  bottom: -1px;
  border-width: 5px;
  border-style: solid;
  border-color: #bec0cd transparent transparent transparent;
}

.cloud-header .r-item .sort-check .sort-icon::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 1px;
  width: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #bec0cd transparent;
}

.cloud-header .r-item .sort-check .sort-icon.asc::before {
  border-color: transparent transparent #3a36db transparent;
}

.cloud-header .r-item .sort-check .sort-icon.desc::after {
  border-color: #3a36db transparent transparent transparent;
}

.cloud-header .header-r {
  display: flex;
  align-items: center;
}

.cloud-header .icon-sort {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 100%;
}

.cloud-header .icon-paixu {
  background-image: url("@/assets/icons/clouddisk/icon_paixu.png@2x.png");
}

.cloud-header .icon-xiala {
  background-image: url("@/assets/icons/clouddisk/icon_xiala.png@2x.png");
}

.cloud-header .show-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 100%;
}

.cloud-header .icon-list {
  background-image: url("@/assets/icons/clouddisk/icon_liebiao.png@2x.png");
}

.cloud-header .icon-card {
  background-image: url("@/assets/icons/clouddisk/icon_buju.png@2x.png");
}

.cloud-header .upload-box .s-title {
  padding: 0 16px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(42deg, #0459FF 0%, #5726DD 100%);
  border-radius: 20px;
}

.cloud-header .upload-box .s-title span {
  display: inline-block;
  line-height: 32px;
}

.cloud-header .info-box {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.breadcrumbs-box {
  color: #ffffff;
}

.breadcrumbs-box .breadcrumb-text {
  cursor: pointer;
}

.breadcrumbs-box .breadcrumb-text:hover {
  color: rgba(255, 255, 255, 0.8);
}

:deep(.el-overlay) .dialog-center2 {
  border-radius: 16px;
}

:deep(.el-overlay) .dialog-footer button {
  height: 40px;
  border-radius: 10px;
}

:deep(.el-overlay) .dialog-footer button:last-child {
  background: linear-gradient(42deg, #0459ff 0%, #5726dd 100%);
  border: none;
}
