:deep(.scroll-container-view){
    padding: 20px;
    display: flex;
    min-height: 100%;
    align-items: flex-start;
    .custom_card-box{
        padding: 20px;
        border-radius: 10px;
        background: #1C1D24;
        box-shadow: 0px 0px 4px 0px rgba(52,48,227,0.05);
    }
    .custom-input{
        --el-input-hover-border-color: #3A36DB !important;
        .el-input__inner{
            --el-input-hover-border-color: #3A36DB !important;
            --el-input-text-color: #ffffff;
            --el-input-bg-color: #1E2028;
            --el-input-border-radius: 6px;
            --el-input-border-color: #4E5262;
            --el-input-placeholder-color: #4E5262;
            height: 37px;
            line-height: 37px;
        }
        .el-input__suffix{
            .el-input__count-inner{
                background-color: transparent;
                color: #4E5262;
            }
        }
        .el-input__count{
            background-color: transparent;
            color: #4E5262;
        }
        .el-textarea__inner{
            padding: 20px;
            height: 208px;
            --el-input-text-color: #ffffff;
            --el-input-bg-color: #1E2028;
            --el-input-border-color: transparent;
            --el-input-border-radius: 8px;
            --el-input-placeholder-color: #4E5262;

        }
        &.el-textarea{
            // textarea::-webkit-scrollbar{
            //     width: 2px;
            //     background-color: #1e2028;
            // }
            // textarea::-webkit-scrollbar-thumb{

            //     background-color: #979797;
            // }
            .el-input__count{
                right: 20px;
                background-color: transparent;
                color: #4E5262;
            }
        }
    }
}
.left-container{
    flex: auto;

}
.right-container{
    width: 360px;
    margin-left: 20px;
    flex: none;
    .admin_release-title3{
        color: #C2C7CE;
        font-size: 16px;
        padding: 15px 20px;
        margin: -20px -20px 0;
    }
    .admin_release-help{
        display: block;
        padding: 10px 0;
        color: #8D91A3;
        font-size: 14px;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    .release_step-box{
        padding-top: 20px;
        // margin-bottom: -10px;
        .step-item{
            padding-left: 32px;
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;
            user-select: none;
            &.before-line::before{
                content: "";
                display: inline-block;
                position: absolute;
                height: calc(50% - 12px);
                width: 1px;
                left: 9px;
                top: 0;
                background-color: #4E5262;
                z-index: 0;
            }
            &.after-line::after{
                content: "";
                display: inline-block;
                position: absolute;
                height: calc(50% - 12px);
                width: 1px;
                left: 9px;
                bottom: 0;
                background-color: #4E5262;
                z-index: 0;
            }
            &.after-line:last-child::after{
                display: none;
            }
            &.before-line:first-child::before{
                display: none;
            }
            &.success{
                &.after-line::after{
                    content: "";
                    background-color: #2CFC24;
                }
                &.before-line::before{
                    content: "";
                    background-color: #2CFC24;
                }
                .step-number{
                    background: #2CFC24;
                    color: white;
                }
                .step-content{
                    color: #2CFC24;
                }
            }
            &.success-before-line{
                &.before-line::before{
                    content: "";
                    background-color: #2CFC24;
                }
            }
            &.active{
                &.after-line::after{
                    content: "";
                    background-color: #3468FE;
                }
                // &.before-line::before{
                //     content: "";
                //     background-color: #3468FE;
                // }
                .step-number{
                    background: #3468FE;
                    color: white;
                }
                .step-content{
                    color: #3468FE;
                }
            }
            .step-number{
                width: 19px;
                height: 19px;
                border-radius: 18px;
                text-align: center;
                font-size: 12px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background: #4E5262;
                color: #9094A6;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .step-content{
                font-size: 14px;
                color: #8D91A3;
                padding: 6px 10px;
                display: inline-block;
                background: #24262F;
                position: relative;
                border-radius: 4px;
                &::after{
                    content: "";
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    border-width: 6px;
                    border-color: transparent #24262F transparent transparent;
                    border-style: solid;
                    position: absolute;
                    left: -12px;
                    top: 50%;
                    transform: translateY(-6px);
                }
            }
        }
    }
}
