:deep(.scroll-container-view) {
  padding: 20px;
  display: flex;
  min-height: 100%;
  align-items: flex-start;
}

:deep(.scroll-container-view) .custom_card-box {
  padding: 20px;
  border-radius: 10px;
  background: #1C1D24;
  box-shadow: 0px 0px 4px 0px rgba(52, 48, 227, 0.05);
}

:deep(.scroll-container-view) .custom-input {
  --el-input-hover-border-color: #3A36DB !important;
}

:deep(.scroll-container-view) .custom-input .el-input__inner {
  --el-input-hover-border-color: #3A36DB !important;
  --el-input-text-color: #ffffff;
  --el-input-bg-color: #1E2028;
  --el-input-border-radius: 6px;
  --el-input-border-color: #4E5262;
  --el-input-placeholder-color: #4E5262;
  height: 37px;
  line-height: 37px;
}

:deep(.scroll-container-view) .custom-input .el-input__suffix .el-input__count-inner {
  background-color: transparent;
  color: #4E5262;
}

:deep(.scroll-container-view) .custom-input .el-input__count {
  background-color: transparent;
  color: #4E5262;
}

:deep(.scroll-container-view) .custom-input .el-textarea__inner {
  padding: 20px;
  height: 208px;
  --el-input-text-color: #ffffff;
  --el-input-bg-color: #1E2028;
  --el-input-border-color: transparent;
  --el-input-border-radius: 8px;
  --el-input-placeholder-color: #4E5262;
}

:deep(.scroll-container-view) .custom-input.el-textarea .el-input__count {
  right: 20px;
  background-color: transparent;
  color: #4E5262;
}

.left-container {
  flex: auto;
}

.right-container {
  width: 360px;
  margin-left: 20px;
  flex: none;
}

.right-container .admin_release-title3 {
  color: #C2C7CE;
  font-size: 16px;
  padding: 15px 20px;
  margin: -20px -20px 0;
}

.right-container .admin_release-help {
  padding: 10px 0;
  color: #8D91A3;
  font-size: 14px;
  cursor: pointer;
}

.right-container .admin_release-help:hover {
  text-decoration: underline;
}

.right-container .release_step-box {
  padding-top: 20px;
}

.right-container .release_step-box .step-item {
  padding-left: 32px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  user-select: none;
}

.right-container .release_step-box .step-item.before-line::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: calc(50% - 12px);
  width: 1px;
  left: 9px;
  top: 0;
  background-color: #4E5262;
  z-index: 0;
}

.right-container .release_step-box .step-item.after-line::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: calc(50% - 12px);
  width: 1px;
  left: 9px;
  bottom: 0;
  background-color: #4E5262;
  z-index: 0;
}

.right-container .release_step-box .step-item.after-line:last-child::after {
  display: none;
}

.right-container .release_step-box .step-item.before-line:first-child::before {
  display: none;
}

.right-container .release_step-box .step-item.success.after-line::after {
  content: "";
  background-color: #2CFC24;
}

.right-container .release_step-box .step-item.success.before-line::before {
  content: "";
  background-color: #2CFC24;
}

.right-container .release_step-box .step-item.success .step-number {
  background: #2CFC24;
  color: white;
}

.right-container .release_step-box .step-item.success .step-content {
  color: #2CFC24;
}

.right-container .release_step-box .step-item.success-before-line.before-line::before {
  content: "";
  background-color: #2CFC24;
}

.right-container .release_step-box .step-item.active.after-line::after {
  content: "";
  background-color: #3468FE;
}

.right-container .release_step-box .step-item.active .step-number {
  background: #3468FE;
  color: white;
}

.right-container .release_step-box .step-item.active .step-content {
  color: #3468FE;
}

.right-container .release_step-box .step-item .step-number {
  width: 19px;
  height: 19px;
  border-radius: 18px;
  text-align: center;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #4E5262;
  color: #9094A6;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-container .release_step-box .step-item .step-content {
  font-size: 14px;
  color: #8D91A3;
  padding: 6px 10px;
  display: inline-block;
  background: #24262F;
  position: relative;
  border-radius: 4px;
}

.right-container .release_step-box .step-item .step-content::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-width: 6px;
  border-color: transparent #24262F transparent transparent;
  border-style: solid;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-6px);
}
