.main-card{
  height: 100%;
  width: 210px;
  background-color: rgba(41, 42, 48, 0.90);
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: auto;
  .title{
    color: #9094A6;
    padding: 10px;
    font-size: 12px;
  }

  .menu-item{
    font-size: 14px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    line-height: 1;
    cursor: pointer;
    border-radius: 10px;
    &.active{
      background-color: #3956FF ;
    }
    &.hover-effer{
      background-color: #3956FF ;
    }
  }

  .tab-list-show{
    padding-bottom: 20px;
    color: #FFFFFF;

  }
  .tab-list-hide{
    color: #9D9DA1;
  }
}
.menu-enter-active, .menu-leave-active{
  transition: opacity .5s ease,transform .5s ease;
}
.menu-enter-from, .menu-leave-to{
  opacity: 0;
  transform: translateX(100%);
}
.menu-enter-to, .menu-leave-from{
  opacity: 1;
  transform: translateX(0);
}

.main-card::-webkit-scrollbar {
  display: none;
}
