.setting-dialog .sett-item {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.setting-dialog .sett-item .tooltip-icon {
  color: #D8D8D8;
  font-size: 14px;
}

.setting-dialog .sett-item .tooltip-icon:hover {
  color: #A0A0A0;
}

.setting-dialog .sett-item-right {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.setting-dialog .sett-item-right:deep(.el-checkbox) {
  --el-checkbox-checked-text-color: #3468FE;
  --el-checkbox-checked-input-border-color: #3468FE;
  --el-checkbox-checked-bg-color: #3468FE;
  --el-checkbox-input-border-color-hover: #3468FE;
}

.point-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.point-box .point-custom {
  margin-left: 10px;
}
