.home-main {
  height: 100%;
  background-color: #0A0B0D;
  color: white;
}

.home-main:deep(.scrollbar-view) {
  padding: 20px;
}

.home-main .card-box {
  border-radius: 16px;
  margin-bottom: 20px;
  background-color: #1C1D24;
  padding: 20px;
}

.home-main .card-box .card-title {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.home-main .card-box .card-title .close {
  cursor: pointer;
}

.home-main .card-box.user-info {
  display: flex;
  align-items: center;
}

.home-main .card-box.user-info:deep(.el-avatar) {
  flex: none;
}

.home-main .card-box.user-info .info {
  flex: auto;
  margin: 0 20px;
}

.home-main .card-box.user-info .info .wellcome {
  margin-bottom: 10px;
}

.home-main .card-box.user-info .info .tag {
  margin-top: 10px;
  user-select: none;
}

.home-main .card-box.user-info .info .tag span {
  padding: 4px 6px;
  border-radius: 4px;
  color: white;
  margin-right: 6px;
  font-size: 10px;
}

.home-main .card-box.user-info .info .tag .type0 {
  background: linear-gradient(213deg, #1BD496 0%, #05B57A 100%);
}

.home-main .card-box.user-info .info .tag .type1 {
  background: linear-gradient(180deg, #85C1F7 0%, #48A2F4 100%);
}

.home-main .card-box.user-info .info .tag .type2 {
  background: linear-gradient(63deg, #F6717E 0%, #FEAB93 100%);
}

.home-main .card-box.user-info .info .tag .type3 {
  background: linear-gradient(52deg, #484DDB 0%, #6D88E6 100%);
}

.home-main .card-box .function-item {
  border-radius: 12px;
  height: 140px;
  padding: 20px;
  margin-top: 20px;
  background: linear-gradient(138deg, #F5F9FF 0%, #F5F9FF 0%, #C9E1FF 100%);
  display: flex;
  align-items: flex-start;
}

.home-main .card-box .function-item .context {
  user-select: none;
  flex: auto;
}

.home-main .card-box .function-item .context .title {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.home-main .card-box .function-item .context .desc {
  font-size: 16px;
  color: #626262;
}

.home-main .card-box .function-item .icon {
  width: 140px;
  flex: none;
  margin-left: 10px;
}

.home-main .card-box .function-item.type1 {
  background: linear-gradient(138deg, #F5F9FF 0%, #F5F9FF 0%, #C9E1FF 100%);
}

.home-main .card-box .function-item.type2 {
  background: linear-gradient(137deg, #F9F9FF 0%, #EEEDFF 100%);
}

.home-main .card-box .function-item.type3 {
  background: linear-gradient(138deg, #FFFBF3 0%, #FFF2D8 100%);
}

.home-main .card-box .function-item.type4 {
  background: linear-gradient(140deg, #FFF8F8 0%, #FFEBEB 100%);
}

.home-main .card-box .function-item.type5 {
  background: linear-gradient(139deg, #E7FBFF 0%, #B7F7FF 100%);
}

.home-main .card-box .function-item.type6 {
  background: linear-gradient(136deg, #3C414F 0%, #0B0C13 100%);
}

.home-main .card-header {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.home-main .card-header .other {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.home-main .project-item {
  border-radius: 10px;
  padding: 20px 20px 0;
  background-color: #1C1D24;
  margin-bottom: 20px;
  overflow: hidden;
}

.home-main .project-item .project-title {
  font-size: 16px;
  color: white;
}

.home-main .project-item .project-state-top {
  padding: 20px 0;
  border-bottom: 1px solid rgba(151, 151, 151, 0.1);
  display: flex;
  align-items: center;
}

.home-main .project-item .project-state-top .state-item {
  flex: auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.home-main .project-item .project-state-top .state-item div {
  font-weight: initial;
  font-size: 14px;
  color: #FFFFFF;
  opacity: .5;
}

.home-main .project-item .project-state-top .line {
  width: 1px;
  flex: none;
  background-color: rgba(151, 151, 151, 0.1);
  height: 36px;
}

.home-main .project-item .project-state-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  text-align: right;
}

.home-main .project-item .project-state-bottom .label {
  text-align: left;
  width: 100px;
  flex: none;
  font-weight: initial;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.home-main .project-item .project-menber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #212125;
}

.home-main .manage-btn-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-main .manage-btn-list .manage-btn {
  width: calc(50% - 10px);
  height: 150px;
  padding: 20px;
  border-radius: 16px;
  position: relative;
  user-select: none;
  cursor: pointer;
}

.home-main .manage-btn-list .manage-btn .title {
  font-size: 22px;
  margin-bottom: 10px;
}

.home-main .manage-btn-list .manage-btn .desc {
  font-size: 16px;
}

.home-main .manage-btn-list .manage-btn .other {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: .5;
}

.home-main .manage-btn-list .manage-btn.type-blue {
  background-image: url("@/assets/images/personnel-2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home-main .manage-btn-list .manage-btn.type-purple {
  background-image: url("@/assets/images/personnel-1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
