.composition_container {
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

:deep(.el-dropdown-menu__item).active {
  color: #3468FE;
  background: rgba(52, 104, 254, 0.1);
}

:deep(.el-dropdown-menu__item):hover {
  color: #3468FE !important;
  background: rgba(52, 104, 254, 0.1) !important;
}

.composition_main {
  height: 100%;
  display: flex;
  flex: auto;
  overflow: hidden;
  flex-direction: column;
}

.composition_main-header {
  width: 100%;
  height: 60px;
  flex: none;
  background-color: #15161C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  overflow: hidden;
}

.composition_main-header .title {
  color: #676C7F;
  font-size: 14px;
  margin-right: 20px;
}

.composition_main-header .left-container {
  line-height: 60px;
  float: right;
  display: flex;
  align-items: center;
}

.composition_main-header .right-container {
  line-height: 60px;
  float: right;
  display: flex;
  color: #9094A6;
  font-size: 14px;
  align-items: center;
}

.composition_main-scrollbar {
  flex: auto;
  overflow: hidden;
}

.composition_main-scrollbar .file-container .file-item {
  position: relative;
  padding: 10px 60px 10px 40px;
  background: #1C1D24;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.composition_main-scrollbar .file-container .file-item:deep(.el-avatar) {
  pointer-events: none;
  background-color: transparent;
}

.composition_main-scrollbar .file-container .file-item:last-child {
  margin-bottom: 0px;
}

.composition_main-scrollbar .file-container .file-item:hover {
  background: #24262F;
}

.composition_main-scrollbar .file-container .file-item.active {
  background: #24262F;
}

.composition_main-scrollbar .file-container .file-item .cover-box {
  width: 80px;
  height: 80px;
  flex: none;
  background: #17181E;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 20px;
}

.composition_main-scrollbar .file-container .file-item .info-box {
  width: 100px;
  flex: auto;
  overflow: hidden;
  padding: 10px 0;
  line-height: 30px;
  margin-right: 20px;
}

.composition_main-scrollbar .file-container .file-item .info-box div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.composition_main-scrollbar .file-container .file-item .info-box .title {
  color: #fff;
  font-size: 16px;
}

.composition_main-scrollbar .file-container .file-item .info-box .desc {
  color: #666A7A;
  font-size: 12px;
}

.composition_main-scrollbar .file-container .file-item .tag-box {
  width: 360px;
  flex: auto;
  align-self: stretch;
  padding: 10px 0 0;
}

.composition_main-scrollbar .file-container .file-item .tag-box .tag-item {
  margin-right: 10px;
  margin-bottom: 10px;
  color: #676C7F;
  text-align: center;
  padding: 4px 10px;
  display: inline-block;
  border: 1px solid  #3D3F50;
  border-radius: 6px;
  font-size: 14px;
  background: #24262F;
}

.composition_main-scrollbar:deep(.composition_main-view) {
  width: 100%;
  min-height: 100%;
  padding: 20px 20px 56px;
  position: relative;
}

.composition_main-scrollbar:deep(.composition_main-view) .pagination-container-box {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
}

.composition_main-scrollbar:deep(.composition_main-view) .file-container .el-checkbox {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  --el-checkbox-bg-color: #17181E;
  --el-checkbox-input-border: 1px solid #17181E;
  --el-checkbox-checked-bg-color: #3468FE;
  --el-checkbox-checked-input-border-color: #3468FE;
  --el-checkbox-input-border-color-hover: #3468FE;
  font-size: 14px;
}

.composition_main-scrollbar:deep(.composition_main-view) .file-container .el-icon {
  position: absolute;
  top: 50%;
  right: 40px;
  color: #979797;
  font-size: 22px;
  padding: 2px;
  transform: translateY(-50%);
  cursor: pointer;
}

.composition_main-scrollbar:deep(.composition_main-view) .file-container .el-icon:hover {
  color: white;
}

.composition_empty {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  color: #3D3F50;
  font-size: 12px;
  transform: translateY(-50%);
}

.composition_empty .upload-type {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.composition_empty .upload-type .upload-type-item {
  margin: 0 10px;
  width: 170px;
  height: 170px;
  border-radius: 20px;
  background-color: #16161c;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 1px dashed #16161c;
  cursor: pointer;
}

.composition_empty .upload-type .upload-type-item .icon {
  width: 65px;
  height: 65px;
  flex: none;
  margin-bottom: 20px;
  background-size: 100% 60px;
  background-repeat: no-repeat;
  background-position: center;
}

.composition_empty .upload-type .upload-type-item .icon.audio1 {
  background-image: url(@/assets/icons/composition/audio1_1.png);
}

.composition_empty .upload-type .upload-type-item .icon.image1 {
  background-image: url(@/assets/icons/composition/image1_1.png);
}

.composition_empty .upload-type .upload-type-item .icon.video1 {
  background-image: url(@/assets/icons/composition/video1_1.png);
}

.composition_empty .upload-type .upload-type-item .icon.other1 {
  background-image: url(@/assets/icons/composition/other1_1.png);
}

.composition_empty .upload-type .upload-type-item .icon.audio2 {
  background-image: url(@/assets/icons/composition/audio2_1.png);
}

.composition_empty .upload-type .upload-type-item .icon.image2 {
  background-image: url(@/assets/icons/composition/image2_1.png);
}

.composition_empty .upload-type .upload-type-item .icon.video2 {
  background-image: url(@/assets/icons/composition/video2_1.png);
}

.composition_empty .upload-type .upload-type-item .icon.other2 {
  background-image: url(@/assets/icons/composition/other2_1.png);
}

.composition_empty .upload-type .upload-type-item .icon.video3 {
  background-image: url(@/assets/icons/composition/video3_1.png);
}

.composition_empty .upload-type .upload-type-item .icon.audio3 {
  background-image: url(@/assets/icons/composition/audio3_1.png);
}

.composition_empty .upload-type .upload-type-item.disabled {
  cursor: no-drop;
  opacity: .6;
}

.composition_empty .upload-type .upload-type-item.disabled:hover {
  background-color: #16161c;
  border: 1px dashed #16161c;
  color: #3D3F50;
}

.composition_empty .upload-type .upload-type-item:hover {
  background-color: rgba(52, 104, 254, 0.1);
  border-color: rgba(52, 104, 254, 0.4);
  color: #3468FE;
}

.composition_empty .upload-type .upload-type-item:hover .icon.audio1 {
  background-image: url(@/assets/icons/composition/audio1_2.png);
}

.composition_empty .upload-type .upload-type-item:hover .icon.image1 {
  background-image: url(@/assets/icons/composition/image1_2.png);
}

.composition_empty .upload-type .upload-type-item:hover .icon.video1 {
  background-image: url(@/assets/icons/composition/video1_2.png);
}

.composition_empty .upload-type .upload-type-item:hover .icon.other1 {
  background-image: url(@/assets/icons/composition/other1_2.png);
}

.composition_empty .upload-type .upload-type-item:hover .icon.audio2 {
  background-image: url(@/assets/icons/composition/audio2_2.png);
}

.composition_empty .upload-type .upload-type-item:hover .icon.image2 {
  background-image: url(@/assets/icons/composition/image2_2.png);
}

.composition_empty .upload-type .upload-type-item:hover .icon.video2 {
  background-image: url(@/assets/icons/composition/video2_2.png);
}

.composition_empty .upload-type .upload-type-item:hover .icon.other2 {
  background-image: url(@/assets/icons/composition/other2_2.png);
}
