.skill_form-box {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 60px;
}

.skill_form-box .skill_form-footer {
  width: 100%;
  bottom: 0;
  position: absolute;
  background-color: #1C1D24;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

:deep(.admin_apply-view) {
  padding: 20px;
  min-height: 100%;
}

:deep(.admin_apply-view) .card-box .el-result__title p {
  color: white;
}

:deep(.admin_apply-view) .card-box .el-form-item {
  margin-bottom: 30px;
}

:deep(.admin_apply-view) .card-box .el-form-item__label {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  flex-wrap: wrap;
}

:deep(.admin_apply-view) .card-box .el-form--default.el-form--label-top .el-form-item .el-form-item__label {
  margin-bottom: 12px;
}

:deep(.admin_apply-view) .card-box .el-input {
  max-width: 200px;
  --el-select-disabled-border: #3A36DB;
  --el-disabled-bg-color: #1C1D24;
  --el-disabled-border-color: #3D3F50;
  --el-input-bg-color: #1C1D24;
  --el-input-text-color: #FFFFFF;
  --el-input-border-color: #3D3F50;
  --el-input-placeholder-color: #676C7F;
  --el-input-hover-border-color: #3A36DB;
}

:deep(.admin_apply-view) .card-box .el-input .el-input__inner {
  --el-input-hover-border-color: #3A36DB;
}

:deep(.admin_apply-view) .card-box .el-input .el-input__suffix-inner {
  display: flex;
  align-items: center;
  color: white;
  flex-direction: row-reverse;
}

:deep(.admin_apply-view) .card-box .el-input .el-input__suffix-inner .el-input__count .el-input__count-inner {
  background: none;
}

:deep(.admin_apply-view) .card-box .el-input .el-input__suffix-inner .line {
  width: 1px;
  display: inline-block;
  height: 50%;
  background: #4E5262;
  margin: 0 6px;
}

:deep(.admin_apply-view) .card-box .el-select {
  max-width: 200px;
  --el-select-border-color-hover: #3A36DB;
  --el-select-disabled-border: #3A36DB;
  margin-right: 20px;
}

:deep(.admin_apply-view) .card-box .el-select:last-child {
  margin-right: 0px;
}

:deep(.admin_apply-view) .card-box .el-select .el-input {
  --el-disabled-bg-color: #1C1D24;
  --el-disabled-border-color: #3D3F50;
  --el-input-bg-color: #1C1D24;
  --el-input-text-color: #FFFFFF;
  --el-input-border-color: #3D3F50;
  --el-input-placeholder-color: #676C7F;
  --el-input-hover-border-color: #3A36DB;
}

:deep(.admin_apply-view) .card-box .el-select .el-input .el-input__inner {
  --el-input-hover-border-color: #3A36DB;
}

:deep(.admin_apply-view) .card-box .el-textarea {
  --el-select-disabled-border: #3A36DB;
  --el-disabled-bg-color: #1C1D24;
  --el-disabled-border-color: #3D3F50;
  --el-input-bg-color: #1C1D24;
  --el-input-text-color: #FFFFFF;
  --el-input-border-color: #3D3F50;
  --el-input-placeholder-color: #676C7F;
  --el-input-hover-border-color: #3A36DB;
}

:deep(.admin_apply-view) .card-box .el-textarea .el-textarea__inner {
  padding: 10px 16px;
}

:deep(.admin_apply-view) .card-box .el-textarea .el-input__count {
  right: 20px;
  background: none;
}

:deep(.admin_apply-view) .fansi-title {
  font-size: 18px;
  color: white;
  padding: 10px 20px;
}

:deep(.admin_apply-view) .fansi-title span {
  color: #8D91A3;
  font-size: 12px;
  margin-left: 20px;
}

:deep(.admin_apply-view) .custom-tag-suffix {
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;
}

:deep(.admin_apply-view) .custom-tag-suffix:hover {
  color: #3A36DB;
}

.card-box {
  background: #181920;
  border-radius: 10px;
  padding: 20px;
}

.card-box.fensi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-box.fensi .left-container {
  flex: auto;
  align-self: flex-start;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -20px;
  text-align: center;
}

.card-box.fensi .left-container .platform-item {
  flex: none;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #1C1D24;
  box-shadow: 0px 0px 4px 0px rgba(52, 48, 227, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px 20px;
  box-sizing: border-box;
  position: relative;
}

.card-box.fensi .left-container .platform-item:deep(.el-input) {
  text-align: center;
}

.card-box.fensi .left-container .platform-item:deep(.el-input) .el-input__inner {
  --el-input-bg-color: none;
  --el-input-border-color: #3D3F50;
  --el-input-placeholder-color: #3D3F50;
  --el-input-hover-border-color: #3A36DB;
}

.card-box.fensi .left-container .platform-item:deep(.el-input).text-align-center .el-input__inner {
  text-align: center;
}

.card-box.fensi .left-container .platform-item .platform-title {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card-box.fensi .left-container .platform-item .platform-title .icon {
  flex: none;
  margin-right: 4px;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-box.fensi .left-container .platform-item .platform-title .icon.douyin {
  background-image: url(@/assets/icons/platform/douyin.png);
}

.card-box.fensi .left-container .platform-item .platform-title .icon.kuaishou {
  background-image: url(@/assets/icons/platform/kuaishou.png);
}

.card-box.fensi .left-container .platform-item .platform-title .icon.bilibili {
  background-image: url(@/assets/icons/platform/bilibili.png);
}

.card-box.fensi .left-container .platform-item .platform-title .icon.wangyiyun {
  background-image: url(@/assets/icons/platform/wangyiyun.png);
}

.card-box.fensi .left-container .platform-item .platform-title .icon.qqyinyue {
  background-image: url(@/assets/icons/platform/qqyinyue.png);
}

.card-box.fensi .left-container .platform-item .platform-title .icon.other {
  background-image: url(@/assets/icons/platform/other.png);
}

.card-box.fensi .left-container .platform-item .platform-title .help {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #676C7F;
}

.card-box.fensi .left-container .platform-item .platform-title .name {
  color: #676C7F;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.card-box.fensi .left-container .platform-item .platform-fensi {
  font-size: 12px;
  color: #4E5262;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-box.fensi .left-container .platform-item .platform-fensi span {
  margin-left: 4px;
}

.card-box.fensi .left-container .platform-item .platform-fensinum {
  font-size: 35px;
  color: #4E5262;
  text-align: center;
}

.card-box.fensi .right-container {
  width: 400px;
  height: 360px;
  padding: 20px;
  box-sizing: border-box;
  flex: none;
  background: #1C1D24;
  box-shadow: 0px 0px 4px 0px rgba(52, 48, 227, 0.05);
  border-radius: 10px;
}

.card-box.fensi .right-container .fensi-echarts {
  width: 100%;
  height: 100%;
}

.card-box .custom-tag-box {
  flex: 1 1 100%;
  margin-left: -10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card-box .custom-tag-box .custom-tag-item {
  margin-left: 10px;
  margin-bottom: 10px;
  background: #30323B;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 14px;
  color: #8D91A3;
  display: flex;
  align-items: center;
}

.card-box .custom-tag-box .custom-tag-item:deep(.el-icon) {
  margin-left: 10px;
  color: #A22626;
  font-size: 16px;
  cursor: pointer;
}

.card-box .server_price-title {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.card-box .server_price-desc {
  font-size: 12px;
  color: #4E5262;
}

.card-box .server_price-desc span {
  color: #3468FE;
}

.card-box .server_price-form:deep(.el-form) .el-form-item__label {
  color: #676C7F;
  font-size: 14px;
}

.card-box .server_price-form .form-help {
  color: #676C7F;
  margin-right: 4px;
  font-size: 16px;
}

.skill_form-header {
  font-size: 16px;
  color: #C0C0C0;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill_form-header span:last-child {
  color: #3468FE;
}

.bottom-affix {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
}
