.user-container {
  height: 100%;
}

.user-container .user-side {
  width: 200px;
  height: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #BEC0CD;
  font-size: 16px;
  user-select: none;
  justify-content: space-between;
  box-shadow: 3px 0px 6px 0px rgba(35, 35, 35, 0.38);
  padding: 20px 10px;
}

.user-container .user-side .menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 11px;
}

.user-container .user-side .menu-item .user-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

.user-container .user-side .menu-item .icon-home {
  background-image: url("@/assets/icons/user/home2.png");
}

.user-container .user-side .menu-item .icon-space {
  background-image: url("@/assets/icons/user/space2.png");
}

.user-container .user-side .menu-item .icon-kaipiao {
  background-image: url("@/assets/icons/user/kaipiao.png");
}

.user-container .user-side .menu-item .icon-member {
  background-image: url("@/assets/icons/user/member2.png");
}

.user-container .user-side .menu-item .icon-tuiguang {
  background-image: url("@/assets/icons/user/tuiguang2.png");
}

.user-container .user-side .menu-item .icon-zhongxin {
  background-image: url("@/assets/icons/user/zhongxin2.png");
}

.user-container .user-side .menu-item .icon-set {
  background-image: url("@/assets/icons/user/set2.png");
}

.user-container .user-side .menu-item .icon-order {
  background-image: url("@/assets/icons/user/my-order1.png");
}

.user-container .user-side .menu-item.action, .user-container .user-side .menu-item:hover {
  color: white;
  background: #4E5262;
}

.user-container .user-side .menu-item.action .icon-home, .user-container .user-side .menu-item:hover .icon-home {
  background-image: url("@/assets/icons/user/home.png");
}

.user-container .user-side .menu-item.action .icon-space, .user-container .user-side .menu-item:hover .icon-space {
  background-image: url("@/assets/icons/user/space.png");
}

.user-container .user-side .menu-item.action .icon-member, .user-container .user-side .menu-item:hover .icon-member {
  background-image: url("@/assets/icons/user/member.png");
}

.user-container .user-side .menu-item.action .icon-kaipiao, .user-container .user-side .menu-item:hover .icon-kaipiao {
  background-image: url("@/assets/icons/user/kaipiao2.png");
}

.user-container .user-side .menu-item.action .icon-set, .user-container .user-side .menu-item:hover .icon-set {
  background-image: url("@/assets/icons/user/set.png");
}

.user-container .user-side .menu-item.action .icon-order, .user-container .user-side .menu-item:hover .icon-order {
  background-image: url("@/assets/icons/user/my-order2.png");
}

.user-container .user-side .menu-item.action .icon-tuiguang, .user-container .user-side .menu-item:hover .icon-tuiguang {
  background-image: url("@/assets/icons/user/tuiguang.png");
}

.user-container .user-side .menu-item.action .icon-zhongxin, .user-container .user-side .menu-item:hover .icon-zhongxin {
  background-image: url("@/assets/icons/user/zhongxin.png");
}

.user-container .user-side .menu-item-name {
  margin-left: 6px;
}

.user-container .user-main {
  color: #BEC0CD;
  font-size: 14px;
  background: #0A0B0D;
  display: flex;
  flex-direction: column;
}

.header-content-top {
  padding: 0px 0px 0px 30px;
  height: 60px;
  background: #181920;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: #9094A6;
  line-height: 24px;
}

.header-content-top .active {
  color: white;
}

.header-content-top .active::after {
  content: "";
  width: 27px;
  height: 3px;
  background: linear-gradient(42deg, #0459FF 0%, #5726DD 100%);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  display: inline-block;
}

.header-content-top .line {
  width: 1px;
  height: 16px;
  flex-shrink: 0;
  background: #eeeeee;
  margin: 0 15px;
  cursor: none;
}

.header-content-top span {
  display: inline-block;
  height: 100%;
  line-height: 57px;
  cursor: pointer;
  position: relative;
  margin-right: 47px;
}

.header-content-top span:hover {
  color: white;
}

.tag {
  margin-top: 10px;
  user-select: none;
}

.tag span {
  padding: 4px 6px;
  border-radius: 4px;
  color: white;
  margin-right: 6px;
  font-size: 10px;
}

.tag .type0 {
  background: linear-gradient(213deg, #1BD496 0%, #05B57A 100%);
}

.tag .type1 {
  background: linear-gradient(180deg, #85C1F7 0%, #48A2F4 100%);
}

.tag .type2 {
  background: linear-gradient(63deg, #F6717E 0%, #FEAB93 100%);
}

.tag .type3 {
  background: linear-gradient(52deg, #484DDB 0%, #6D88E6 100%);
}

.top-title {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 22px;
  font-weight: 500;
}

:deep(.el-date-editor) {
  width: 294px;
  height: 32px;
  background: #0C0D10;
  border-radius: 16px;
  box-shadow: none;
  margin-right: 27px;
  color: #9094A6;
}

:deep(.el-date-editor) .el-range-input {
  background: #0C0D10;
  color: #9094A6;
  box-shadow: none;
}

:deep(.el-date-editor) .el-range-separator {
  color: #9094A6;
}

:deep(.el-date-editor) .el-range__icon {
  color: #9094A6;
}
