
.file-top{
  width: 100%;
  height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  //border-bottom: 1px solid #979797;
  box-shadow: 3px 0px 6px 0px rgb(35 35 35 / 38%);
  border-bottom: 1px solid rgb(151,151,151,0.24);
  .top-left{
    display: flex;
    align-items: center;
    .top-icon{
      display: flex;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      // padding: 6px;
      background-position: 50% 50%;
    }
    .icon-back{
      background-image: url("@/assets/icons/back.png");
      background-size: 60%;
      cursor: pointer;
    }
    .icon-show{
      background-image: url("@/assets/icons/show.png");
      background-size: 60%;
      cursor: pointer;
    }
    .icon-unshow{
      background-image: url("@/assets/icons/unshow.png");
      background-size: 60%;
      cursor: pointer;
    }
    .version{
      margin-left: 10px;
      button{
        height: 32px;
        color: #D0D4DE;
        background-color: #15161C;
        border: 1px solid #15161C;
        border-radius: 16px;
        &:hover{
          color: #ffffff;
        }
      }
    }
    .version:hover{
      cursor: pointer;
      color: #ffffff;
    }
    .file-name{
      margin-left: 15px;
      max-width: 500px;
      font-size: 16px;
      color: #ffffff;
      font-weight: bold;
      white-space:nowrap;
      text-overflow:ellipsis;
      overflow:hidden;
    }

    .mask{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
    }
  }
  .top-right{
    // margin-right: 10px;
    display: flex;
    align-items: center;
    .el-dropdown-link{
      font-size: 12px;
      color: #3c3c3c;
    }
    & > div{
      height: 32px;
      margin-right: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      cursor: pointer;
      // border: 1px solid #4e515e;
      // &:hover{
      //   color: #e1dfdf;
      //   border: 1px solid #6a6c76;
      // }
    }
    .el-button{
      height: 32px;
      padding: 0 12px;
      color: #D0D4DE;
      background-color: #15161C;
      border: 1px solid #15161C;
      border-radius: 16px;
      &:hover{
        color: #ffffff;
      }
    }
    .share-btn{
      color: #D0D4DE;
      button{
        height: 32px;
        padding: 0 12px;
        background: linear-gradient(42deg, #0459FF 0%, #5726DD 100%);
      }
      // &:hover{
      //   color: #ffffff;
      // }
    }
    .flping{
      width: 32px;
      height: 32px;
    }

    .status-box:hover{
      .cm-dropdown-link{
        span{
          color: #ffffff;
        }
      }
    }
  }
}
.version-box{
  .version-header{
    padding: 4px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #edeff2;
    margin-bottom: 6px;
    .header-r{
      display: flex;

    }
    .manager-icon,.add-icon{
      padding: 6px 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 4px;
      i{
        margin-right: 4px;
      }
      &:hover{
        background-color: #edeff2;
      }
    }
  }
  .version-info{
    padding: 10px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    .info-left{
      display: flex;
      align-items: center;
      .checkVersion{
        color: #ffffff;
        background-color: #5c5e66;
      }
      .info-img{
        width: 63px;
        height: 36px;
        margin: 0 8px 0 16px;
        border-radius: 3px;
      }
      .info-name{
        width: 240px;
        display: flex;
        flex-direction: column;
      }
    }
    .info-r{
      display: flex;
      align-items: center;
      span{
        padding: 4px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        &:hover{
          background-color: #b9b9c0;
        }
      }
      .delete-icon{
        margin-right: 4px;
        cursor: pointer;
      }
      .move-icon{
        cursor: move;
      }
    }
  }
  .version-info:hover{
    background-color: #eeeef2;
  }
  .move-item{
    background-color: #dedee0;
  }
  .upload-demo{
    display: flex;
  }
  .manager-header{
    padding: 8px 0 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #edeff2;
    position: relative;
    .back-icon{
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}
.cm-dropdown-link{
  display: flex;
  align-items: center;
  span{
    color: #D0D4DE;
  }
}

.cm-dot{
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 6px 0 1px;
  padding: 1.6px;
  border-radius: 50%;
}
.cm-dot1{
  border: 1px solid #F88212;
  background-color: #F88212;
}
.cm-dot2{
  border: 1px solid #FFC800;
  background-color: #FFC800;
}
.cm-dot3{
  border: 1px solid #5AD65D;
  background-color: #5AD65D;
}
.cm-dot4{
  border: 1px solid #3468FE;
  background-color: #3468FE;
}
.cm-dot5{
  border: 1px solid #F03860;
  background-color: #F03860;
}
.cm-dot6{
  border: 1px solid #7CB5EC;
  background-color: #7CB5EC;
}
.cm-dot0{
  width: 4px;
  height: 4px;
  margin: 0 6px 0 4px;
  box-shadow: 0 0 0 4px #C5C7D4;
}
.cm-dot-active{
  width: 11px;
  height: 11px;
  margin: 0 4px 0 0;
  background-clip: content-box;
}